<div class="container">
  <main class="wrapper">
    <div class="alert-copied" [style.visibility]="copyAlert ? 'visible' : 'hidden'">{{ copyAlert }}</div>

    <h1 class="page-title">Color Palette Generator</h1>

    <div class="block-colors">
      <div class="color-item" *ngFor="let rgbColor of displayColors.rgbColors;let i = index" 
          ngxClipboard [cbContent]="displayColors.hexColors[i] | uppercase"  (cbOnSuccess)="colorCopied($event)" >
        <div class="color-pic" style.backgroundColor="rgb({{rgbColor[0]}},{{rgbColor[1]}}, {{rgbColor[2]}})"></div>
        <div class="color-title">{{displayColors.hexColors[i] | uppercase}}</div>
      </div>
    </div>

    <div class="block-generate">
      <button class="btn-generate" (click)="generatePalette()">Generate Palette</button>
      <p class="info-text">Or just the "Spacebar" to generate new palettes.</p>
    </div>

    <p class="block-info">
      Click to copy individual color &#8226; Press "C" to copy palette
    </p>
  </main>
</div>